{% extends 'layout/layout.html' %}
{% block body%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<div class="container-fluid mt-3">
    
    <p>
        Explora nuestra herramienta para gestionar tus actividades agrupandolos por proyectos
    </p>
    <div class="row">
        <div class="col-sm-8 p-12 bg-primary text-white">
            <p>Nosotros</p>
            <p>Añade colaboradores</p>
            <p>Mis trabajos</p>

        </div>
        <div class="col-sm-4 bg-dark text-white">
            <button class="btn bg-dark text-white"> 
                Tareas
            </button><br>
            <button class="btn bg-dark text-white"> 
                Manual
            </button><br>
            <!-- <p type="button" class="btn bg-dark text-white" data-bs-toggle="modal" data-bs-target="#myModal_correo">Envianos una sugerencia</p> -->
            <button class="btn bg-dark text-white" onclick="abrirModalSugerencia()">
                Enviar una sugerencia
            </button><br>
            <button class="btn bg-dark text-white"> 
                Centro de ayuda
            </button><br>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModalSugerencia" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-dark text-white">
                <h4 class="modal-title">Envia un mensaje .... </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="user" action="" method="POST">
                    <div class="form-group">
                        <label for="correo">
                            <strong>Correo</strong>
                        </label>
                        <input type="email" class="form-control form-control-user" id="correo" name="correo"
                            aria-describedby="emailHelp" placeholder="Ingrese el email">
                    </div>
                    <div class="form-group">
                        <label for="nombre">
                            <strong>Remitente</strong>
                        </label>
                        <input type="text" class="form-control form-control-user" id="nombre" name="nombre"
                            placeholder="Ingrese el remitente">
                    </div>
                    <div class="form-group">
                        <label for="asunto">
                            <strong>Asunto</strong>
                        </label>
                        <input type="text" class="form-control form-control-user" id="asunto" name="asunto"
                            placeholder="Ingrese el asunto">
                    </div>
                    <div class="form-group">
                        <label for="mensaje">
                            <strong>Mensaje</strong>
                        </label>
                        <input type="text" class="form-control form-control-user" id="mensaje" name="mensaje"
                            placeholder="Ingrese el mensaje">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">Remember
                                Me</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-facebook btn-user btn-block">
                        Enviar los datos
                    </button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    function abrirModalSugerencia() {
        var myModal = new bootstrap.Modal(document.getElementById('myModalSugerencia'), {
            backdrop: 'static'
        });
        myModal.show();
    }
</script>
{%endblock%}
