<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Herramientas</title>
    <link rel="stylesheet" href="css/sb-admin-2.css">
    <link rel="stylesheet" href="css/mejoras.css">
</head>

<body>
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5 fondosuper">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center bg-login-image">
                                <img src="img/logo.png" alt="Logo" class="half-img">
                            </div>
                            <div class="col-lg-6 coloreado">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido usuario promedio!</h1>
                                    </div>
                                    <form class="user" action="" method="POST">
                                        <div class="form-group">
                                            <label for="correo">
                                                <strong>Correo</strong>
                                            </label>
                                            <input type="email" class="form-control form-control-user"
                                                id="correo" name="correo" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <label for="contraseña">
                                                <strong>Contraseña</strong>
                                            </label>
                                            <input type="password" class="form-control form-control-user"
                                                id="contraseña" name="contraseña" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">
                                                    Recuerdame
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-facebook btn-user btn-block">
                                            Iniciar sesión
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a href="">Olvidó su contraseña?</a>
                                    </div>
                                    <div class="text-center">
                                        <a href="#">Crear una cuenta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
